# Add your requirements here like:
# numpy
# scipy>=0.9
numpy>=1.15.4
pandas
scipy
netcdf4
pygrib>=2.0.1
pyresample
xarray
cdsapi
ecmwf-api-client
datedown>=0.3
pygeobase
pygeogrids
repurpose
pynetcf
configobj
requests
more_itertools
