# Add your requirements here like:
# numpy
# scipy>=0.9
numpy
pandas
scipy
netCDF4>1.4.2
pygrib>=2.0.1
pyresample
xarray
cdsapi
ecmwf-api-client
datedown>=0.3
pygeogrids
pygeobase
repurpose
pynetcf
configobj
requests
more_itertools